<!DOCTYPE html>
<html>
<head>
    <title>mapserver</title>
    <link rel="stylesheet" href="/dist/leaflet/leaflet.css" />
</head>
<body id="body">
    <div id="map" style="height:100vh; position: relative; z-index: 1;" >
	</div>
</body>
	<script src="/dist/leaflet/leaflet.js"></script>
    <script type="text/javascript">
	var amapNormalUrl = 'http://localhost:{{.map_server_port}}/localmap/normal/{z}/{x}/{y}';
	var amapNormalLayer = new L.TileLayer(amapNormalUrl, {
	    minZoom : 1,
	    maxZoom : 18,
	    attribution : '简单地图服务'
	});
	
	var mapCenter = new L.LatLng(22.4994,113.5308);
	var map = new L.Map('map', {
	        center : mapCenter,
			renderer: L.canvas(),
	        zoom : 14,
	        minZoom: 1,
	        maxZoom: 15,
	        layers : [ amapNormalLayer ],
	});
	
    </script>
</body>
</html>
